<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>{{ titulo }}</h2>
    <form action="{% url 'encuesta:resultado' %}" method="POST">
        {% csrf_token %}
        Ingrese primer número:
        <input type="number" name="num1"><br>
        Ingrese segundo número:
        <input type="number" name="num2"><br>
        Operación:
        <select name="operacion">
            <option value="suma" selected>Suma</option>
            <option value="resta">Resta</option>
            <option value="multiplicación">Multiplicación</option>
        </select><br><br>
        <input type="submit" value="Calcular">
    </form>
</body>
</html>